<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Grupo</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"></header>

                    <section th:fragment="listadoestudiantesporgrupo" id="estudiantes">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Estudiantes del grupo</h4></div>
                                        <div th:if="${estudiantes != null and !estudiantes.empty}">
                                            <table class="table table-striped table-hover">
                                                <thead class="table-primary">
                                                    <tr><th class="text-center">#</th>
                                                        <th class="text-center">Nombre</th>                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="estudiante, contador : ${estudiantes}">
                                                        <td class="text-center">[[${contador.count}]]</td>

                                                        <td th:text="${estudiante.getNombreEstudiante()}" class="text-center">Nombre Estudiante</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </section>
                                        <footer th:replace="layout/plantilla :: footer"></footer>
                                        </body>
                                        </html>

