<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Grupo</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <!-- Listado de grupos -->
                    <section th:fragment="Gruposlista" id="Gruposlista">

                        <div class="container my-4">
                            <div class="row">
                                <div th:each="grupo : ${grupos}" class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <h5 class="card-title">Grupo: <span th:text="${grupo.getIdGrupo()}">Número</span><br /><i class="fa-solid fa-people-group fa-3x"></i></h5>

                                                <p class="card-text">Espacio: <span th:text="${grupo.getEspacio()}">Descripción del espacio</span></p>

                                                <a th:href="@{/grupo/estudiantesGrupo/{idGrupo}(idGrupo=${grupo.idGrupo})}" class="btn btn-primary mr-2">Estudiantes del grupo</a>
                                                <a th:href="@{/grupo/eliminar/{idGrupo}(idGrupo=${grupo.idGrupo})}" class="btn btn-danger mr-2">Eliminar</a>
                                                <a th:href="@{/grupo/modificar/{idGrupo}(idGrupo=${grupo.idGrupo})}" class="btn btn-warning mr-2">Modificar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/grupo/agregar}" class="btn btn-success mr-2">Agregar</a>
                        </div>

                    </section>

                    <!--  Modificar grupos -->
                    <section th:fragment="Modificar-Grupo">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="card mt-5">
                                    <div class="card-header">
                                        <h3>Modificar grupo</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <h4 class="card-title">Grupo: <span th:text="${grupo.getIdGrupo()}">Número</span></h4>
                                        </div>
                                        <form th:action="@{/grupo/guardar}" th:object="${grupo}" method="post">
                                            <input type="hidden" th:field="*{idGrupo}" />

                                            <div class="mb-3">
                                                <label for="espacio" class="form-label">Espacio</label>
                                                <input type="number" id="espacio" th:field="*{espacio}" class="form-control" placeholder="Espacio del Grupo" required>
                                            </div>
                                            
                                            
                                    </div>
                                    
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <a href="#" th:href="@{/grupo/vergrupos}" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </section>

                    <!-- Agregar grupo -->
                    <section th:fragment="agregarGrupo">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="card mt-5">
                                        <div class="card-header">
                                            <h3 >Agregar Grupo</h3>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/grupo/guardar}" th:object="${grupo}" method="post">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="idGrupo" class="form-label">ID del Grupo es Automatica</label>
                                                        <input type="hidden" id="idGrupo" th:field="*{idGrupo}" class="form-control" placeholder="ID del Grupo">

                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="espacio" class="form-label">Espacio</label>
                                                        <input type="number" id="espacio" th:field="*{espacio}" class="form-control" placeholder="Espacio del Grupo" required>
                                                    </div>
                                                </div>
                                                <div class="d-grid gap-2">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                    <a href="#" th:href="@{/grupo/vergrupos}" class="btn btn-secondary">Cancelar</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                </body>
                </html>
