<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    
    <main class="container mt-3" th:fragment="content">
        <h1>Postulaciones de Profesores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="profesor : ${postulaciones}">
                    <td th:text="${profesor.nombreProfesor}">Nombre</td>
                    <td th:text="${profesor.apellidoProfesor}">Apellido</td>
                    <td th:text="${profesor.emailProfesor}">Email</td>
                    <td>
                        <form th:action="@{/profesor/aprobar/{idProfesor}(idProfesor=${profesor.idProfesor})}" method="post">
                            <button type="submit" class="btn btn-success">Aprobar</button>
                        </form>
                        <form th:action="@{/profesor/rechazar/{idProfesor}(idProfesor=${profesor.idProfesor})}" method="post">
                            <button type="submit" class="btn btn-danger">Rechazar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
