<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Calificacions</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <h2>Calificaciones</h2>
                    <a th:href="@{/calificacion/agregar}" class="btn btn-primary mb-3">Agregar Calificacion</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Calificacion</th>
                                <th>ID de la tarea</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="calificacion : ${calificacions}">
                                <td th:text="${calificacion.getIdCalificacion}">1</td>
                                <td th:text="${calificacion.getEstudiante.getNombreEstudiante}">1</td>
                                <td th:text="${calificacion.getCalificacion}">1</td>
                                <td th:text="${calificacion.getTarea.getIdTarea}">1</td>
                                <td th:text="${calificacion.isRevisado ? 'Revisado' : 'No Revisado'}"></td>
                                <td>

                                    
                                    <a th:href="@{/calificacion/modificar/{idCalificacion}(idCalificacion=${calificacion.idCalificacion})}" class="btn btn-warning btn-sm">Modificar</a>
                                    <a th:href="@{/calificacion/eliminar/{idCalificacion}(idCalificacion=${calificacion.idCalificacion})}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                    
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>