<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Estudiante</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <header th:replace="layout/plantilla :: header"></header>

                    <section th:fragment="agregarEstudiante">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="card mt-5">
                                        <div class="card-header">
                                            <h3 >Agregar Estudiante</h3>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/estudiante/guardar}" th:object="${estudiante}" method="post">

                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="grupoSelect" class="form-label">Grupo</label>
                                                        <select class="form-select" id="grupoSelect" th:field="*{grupo.idGrupo}" required>
                                                            <option value="" disabled selected>Selecciona un grupo</option>
                                                            <option th:each="grupo : ${grupos}"
                                                                    th:value="${grupo.idGrupo}"
                                                                    th:text="${grupo.idGrupo}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            <span th:errors="*{grupo.idGrupo}">Por favor, selecciona un Grupo.</span>
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="mb-3">
                                                        <label for="nombreEstudiante" class="form-label">Nombre completo</label>
                                                        <input type="text" id="nombreEstudiante" th:field="*{nombreEstudiante}" class="form-control" placeholder="Nombre completo" required>
                                                    </div>
                                                </div>
                                                <div class="d-grid gap-2">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                    <a href="#" th:href="@{/estudiante/verEstudiantes}" class="btn btn-secondary">Cancelar</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <footer th:replace="layout/plantilla :: footer"></footer>
                </body>
                </html>

